* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flex {
    display: flex;
}

.flex-dr {
    flex-direction: row;
}

.flex-dc {
    flex-direction: column;
}

.f-1 {
    flex: 1;
}

.jc-sb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.none {
    display: none;
}